<section id="visuals">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div id="plot"></div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div id="gauge"> </div>
        </div>
        <div class="row">
          <div id="gauge2"> </div>

        </div>
        <div class="row">
          <div id="gauge3"> </div>

        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div id="chart"></div>
    </div>
  </div>

</section>
<div id="percentageValue" hidden>{{data.percentToRange}}</div>
<div id="def" hidden>{{data.defPer}}</div>
<div id="manage" hidden>{{data.managePer}}</div>
<div id="use" hidden>{{data.usePer}}</div>
<div id="defData" hidden>{{data.def}}</div>
<div id="manageData" hidden>{{data.manage}}</div>
<div id="useData" hidden>{{data.use}}</div>
<div id="username" hidden>{{username}}</div>
<script src="/public/js/visuals.js"> </script>